## Segmenting and Clustering

In [1]:
import pandas as pd

In [20]:
table = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [22]:
type(table)

list

In [23]:
len(table)

3

In [39]:
df=table[0]
df.columns = df.iloc[0]
df = df[1:]
df.columns = ['Postal Code','Borough','Neighborhood']
df.head()

  Postal Code           Borough      Neighborhood
1         M1A      Not assigned      Not assigned
2         M2A      Not assigned      Not assigned
3         M3A        North York         Parkwoods
4         M4A        North York  Victoria Village
5         M5A  Downtown Toronto      Harbourfront

## Remove "Not Assigned"

In [56]:
rows1=df[df['Borough'] =='Not assigned'].index
rows1

Int64Index([], dtype='int64')

In [57]:
rows2=df[df['Neighborhood'] =='Not assigned'].index
rows2

Int64Index([85], dtype='int64')

In [58]:
df.drop(rows1)
df.drop(rows2)
df.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

## Combine the areas with same postal code

In [52]:
df=df.groupby('Postal Code', as_index=False).agg(lambda x: ', '.join(set(x.dropna())))
df.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

## A cell has a borough but a Not assigned neighborhood

In [59]:
df.loc[df['Neighborhood'] =='Not assigned','Neighborhood'] =df['Borough']
df.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

## Number of rows in the dataframe

In [60]:
df.shape[0]

103